<html>
    <head>
        <title>{{ page_title }}</title>
        {{ 'theme.css' | asset_url | stylesheet_tag }}
        {{ content_for_header }}
        {{ 'header.css' | asset_url | stylesheet_tag }}
        <script src="{{ 'header.js' | asset_url }}" defer="defer"></script>
    </head>
    <body>
        {% section 'header' %}
        {{ content_for_layout }}
        {% include 'brand-context' %}
        {% case current_brand %}
          {% when 'mini-me' %}
            {% section 'footer-mini' %}
          {% when 'habitual' %}
            {% section 'footer-habitual' %}
          {% else %}
            {% section 'footer' %}
        {% endcase %}
    </body>
</html>